<div class="content">
  <div class="d-flex">
    <h1 class="p-2">New Virtual Card</h1>
    <%= link_to 'voltar', virtual_cards_path, class: "ml-auto p-2" %>
  </div>
  <%= render 'form', virtual_card: @virtual_card %>
</div>
