<div class="content" id="home-page">
  <div class="row featurette">
    <div class="col-md-7">
      <h2>
        Crie cartões virtuais !
      </h2>
      <p>
        Tenha mais controle e segurança para sua vida financeira, crie cartões virtuais e estabeleça limites de uso e valor.
      </p>
    </div>
    <div class="col-md-5">
    </div>
  </div>
</div>