.user-panel{
  top: 2em;
}
.avatar{
  border-radius: 50%;
}
.user-information-name{
  h4{
    padding-top: 2em;
    margin-bottom: -2em;
  }
}
.user-panel-menu{
  list-style: none;
  display: flex;
  .user-panel-menu-option{
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
