html, body{
  min-height: 100%;
}
body{
  background-image: image-url('background.jpg');
  height: 100vh;
  overflow: hidden;
}
.fill{
  min-height: 100%;
}
.min-vh-50{
  min-height: 50vh;
  height: 50vh;
}
#particles-js{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

[type="number"],
[type="email"],
[type="text"],
[type="password"] {
  border-radius: 0;
  border-width: 0 0 2px;
  border-color: rgb(217, 83, 79);
  background: rgba(255, 255, 255, 0);
  padding: 5px 9px;
  border-style: solid;
  width: 100%;
}

input::placeholder{
  color: #999999;
  font-size: .8em;
  font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.hidden{
  display: none!important;
}

.sign-up-panel{
  height: 35rem;
}

.sign-up-container{
  margin-top: 3rem;
}

.rounded-xl{
  border-radius: 3rem !important;
}

.progress {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
  margin-bottom: 50px;
}

.progress > .progress-bar {


  border-radius: 2px;
  transition: width 0.8s;
}

.user-panel{
  top: 2em;
}
.avatar{
  border-radius: 50%;
}
.user-information-name{
}
.user-panel-menu{
  list-style: none;
  display: flex;
  .user-panel-menu-option{
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
.body-container{
  top: 3.5em;
  height: 62%;
  padding: 1em;
}